<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../CSS/city_styles.css" />
  <title><%= locationData.formatted %></title>
</head>