* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  padding: 15px;
  color: rgb(30, 30, 30);
  background: rgb(250, 247, 204);
  font-family: "Poppins", sans-serif;
  display: grid;
  height: 100vh;
  display: grid;
  grid:
    "back back . . weather weather weather . city city city ." 1fr
    ". . . . weather weather weather . . . currency currency" 1fr
    ". carousel carousel carousel . . . . . . currency currency" 1fr
    ". carousel carousel carousel . . . time time . . ." 1fr
    / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 8px 20px;
}
/* current weather card start */
.cwWeatherContainer {
  background-color: #8a8a1e;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cwHeader {
  text-align: center;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

.cwMain {
  display: flex;
  justify-content: space-between;
}

.cwTemperature {
  text-align: center;
}

.cwTemperature img {
  width: 60px;
}

.cwTempValue {
  font-size: 48px;
  font-weight: bold;
}

.cwFeelsLike {
  font-size: 18px;
}

.cwDetails {
  font-size: 14px;
}

.cwFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 14px;
  border-top: 1px solid white;
  padding-top: 10px;
}
/* cuurent weatehr card end */

/* forecast carousel begin */
.card-image {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vertical {
  max-height: 400px;
  

}

.vertical::part(base) {
  grid-template-areas: 'slides slides pagination';
}

.vertical::part(pagination) {
  flex-direction: column;
}

.vertical::part(navigation) {
  transform: rotate(90deg);
  display: flex;
}

/* forecast  carousel end */


.cityReturn {
  grid-area: back;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 82, 0);
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  margin-left: 15px;
  margin-top: 20px;
}

/* carousel */
.cityRectCarousel {
  grid-area: carousel;
  height: 400px;
  width:600px

}

/* weatehr circle  thing */
.cityCircle {
  grid-area: weather;
}
/* time circle thing */
.cityTimeCircle {
  grid-area: time;
  height: 30vh;
  display: flex;
  align-items: center;
}
.card-image {
  max-width: 200px;
}
.card-image > p {
  font-size: 1.2rem;
  justify-content: center;
}
/* city name thing */
.cityRectWide {
  grid-area: city;
}

/* currency and about ? */
.cityRectTall {
  grid-area: currency;
}

/* city name object */
.cityRectWide {
  background: rgb(255, 82, 0);
  height: 120px;
  border-radius: 20px;
  /* position: relative; */
  box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.4);
  margin-top: 15px;

}
