body {
    color: rgb(30,30,30);
    background: rgb(250,247,204);
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background: #222;
    height: 100vh; */
}

.indexWelcomeCircle {
    background: rgb(255,82,0);
    width: 650px;
    height: 650px;
    border-radius: 50%;
    display: grid;
    margin: -90px -160px;
}

h1 {
    height: 300px;
    width: 300px;
    position: relative;
    animation: effect 8s linear infinite;
}

@keyframes effect {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

span {
    position: absolute;
    left: 50%;
    transform-origin: 0px 150px;
    transform-style: flat;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: rgb(30,30,30);
}

.indexRectangle {
    background: rgb(35,58,108);
    width: 650px;
    height: 75px;
    border-radius: 20px;
    margin: -340px auto 80px;
}

.indexSquare {
    background: rgb(255,165,30);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: -20px auto;
}

.indexTriangle {
    width: 0;
    height: 0;
    border-left: 450px solid transparent;
    border-right: 450px solid transparent;
    border-bottom: 900px solid rgb(0,173,56);
    margin: -300px 57%;
}

.indexCircle {
    background: rgb(255,165,30);
    width: 350px;
    height: 350px;
    border-radius: 50%;
    display: grid;
    margin: -1080px 70%;
}