body {
    color: rgb(30,30,30);
    background: rgb(250,247,204);
}

.indexCircle {
    background: rgb(255,82,0);
    width: 500px;
    height: 500px;
    border-radius: 50%;
    display: grid;
    margin: -100px -80px;
}

.indexRectangle {
    background: rgb(35,58,108);
    width: 500px;
    height: 75px;
    border-radius: 20px;
    margin: 0 auto;
}

.indexSquare {
    background: rgb(255,165,30);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 0 auto;
}

.indexTriangle {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid rgb(0,173,56);
    margin: 0px 75%;
}