body {
    background: rgb(0,63,92);
    color: grey
}

.indexCircle {
    background: rgb(232,122,44);
    width: 500px;
    height: 500px;
    border-radius: 50%;
    display: grid;
    margin: -100px -80px;
}

.indexRectangle {
    background: rgb(138,80,143);
    width: 500px;
    height: 75px;
    border-radius: 20px;
    margin: 0 auto;
}

.indexSquare {
    background: rgb(255,211,128);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 0 auto;
}

.indexTriangle {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid rgb(232,44,44);
    margin: 0px 75%;
}